html{
  background: url("./assets/bg.jpg")  no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:100%;
}
.App {
  text-align: center;
  width: 100%;
}

img {
  width: 30%;
  height: auto;
}

.img-dark {
  filter: brightness(0);
}

.img-light {
  filter: brightness(1);
}
