@font-face {
  font-family: PokeFont;
  src: url("./assets/PokemonGb-RAeo.ttf");
}
@font-face {
  font-family: PokeSolid;
  src: url("./assets/Pokemon Solid.ttf");
}

body {
  background-color: rgb(228, 0, 15);
  justify-content: center;
}
  
.img-dark {
  filter: brightness(0);
}


label, .pokefont  {
  font-family: PokeFont;
}

a {
  font-family: PokeFont;
  color: white !important;
}

h1 {
  font-family: PokeSolid;
  color: #ffcc03;
  text-shadow: 0 0 15px #356abc, 0 0 15px #356abc;
  }


